@{
    ViewData["Title"] = "Home Page";
}

@{ var username = Context.Request.Query["username"].ToString(); }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   sdsds @username
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
